/_build/
.\#*
*.wasm
*.o
\#*\#
.merlin
/js/jsbridge.bc.js

*.dot

/*.wat

wow
/*.log
*.numbers
bitFieldBackup.txt
lib/analysis/points_to_analysis/
store_types.txt
.DS_Store
.idea/
.vscode/
benchmarks/.DS_Store
benchmarks/b*
benchmarks/p*

_coverage/
*.csv
/*.dot
rq2-sizes-interesting.pdf
rq2-sizes.pdf
rq2-time.pdf
*.pdf